*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100vw;
  height: 100vh;
}

.main {
  background: url("../img/bracelet.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid tomato;
  width: 72%;
  height: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 3%;
}

.main img {
  width: 100%;
  border: 2px solid hotpink;
}

.asides {
  height: 100%;
}

.aside1 {
  float: right;
  width: 22%;
  height: 37%;
  background-color: tomato;
  margin-top: 5%;
  margin-right: 3%;
}

.aside2 {
  float: right;
  height: 37%;
  width: 22%;
  background-color: hotpink;
  margin-top: 3%;
  margin-right: 3%;
}

.main {
  float: left;
}
