*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.wrap {
  width: 100vw;
  height: 100vh;
}

.nav-small-screen {
  display: none;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: inherit;
  text-transform: uppercase;
}

h1 {
  font-family: 'Oleo Script', cursive;
  padding: 2%;
  padding-bottom: 0;
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  color: inherit;
  background: #EDF2F4;
  margin: 0;
}

.nav-links-small-screen {
  padding: 2%;
  margin-top: 0;
  background: #EAD3D3;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
}

span {
  margin-right: 2%;
}

.hero {
  background: url("../img/bracelet.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: .3em;
  width: 72%;
  height: 80%;
  margin: 5% 3% 5% 0;
}

.hero img {
  width: 100%;
}

ul {
  list-style: none;
  width: 30%;
  padding: 3%;
  margin: 2%;
  text-transform: uppercase;
  line-height: 1.4em;
  background: rgba(141, 153, 174, .7);
  color: #2B2D42;
  border-radius: .3em;
}

li:first-child {
  font-family: 'Oleo Script', cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero:after {
  content: "Tallinn, Estonia";
  text-transform: uppercase;
  position: absolute;
  top: 80%;
  left: 2%;
}

.asides-div {
  height: 100%;
}

.aside-one, .aside-two {
  float: right;
  width: 22%;
  height: 37%;
  background: rgba(43, 45, 66, .7);
  margin-right: 3%;
  border-radius: .3em;
}

.aside-one {
  margin-top: 5%;
  padding-top: 0;
}

.aside-two {
  margin-top: 3%;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 25%;
  font-weight: normal;
  color: #EDF2F4;
  padding: 2%;
}

.aside-three {
  display: none;
  margin-top: 3%;
  background: #EDF2F4;
  border-radius: .3em;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 1.1em;
  text-align: justify;
}

.hero {
  float: left;
}

@media screen and (max-width: 1100px) {
  .aside-one, .aside-two {
    float: none;
    display: inline-block;
    width: 48.5%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .aside-one {
    margin-right: 2%;
  }

  .asides-div {
    width: 90%;
    height: 50%;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    float: none;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 90%;
    margin-top: 3%;
  }

  .hero:after {
    position: absolute;
    top: 48%;
    left: 7.5%;
  }
}

@media screen and (max-width: 890px) {
  body {
    background: rgba(43, 45, 66, 1);
  }

  .nav-small-screen {
    display: block;
  }

  .hero {
    margin-bottom: 0;
    margin-top: 10%;
  }

  .hero:after {
    position: absolute;
    top: 21.5%;
    left: 7%;
    color: white;
  }

  .aside-one, .aside-two {
    display: block;
    width: 100%;
    height: 43%;
    margin-bottom: 3%;
    margin: 0;
    padding: 0;
    background: #EDF2F4;
  }

  .asides-div {
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    height: 30%;
  }

  ul {
    display: none;
  }

  h3 {
    padding-top: 2%;
    padding: 2%;
    margin: 0;
    margin-top: 3%;
    padding-left: 3%;
    text-align: left;
    color: rgba(43, 45, 66, 1);
  }

  h3:before {
    content: "> ";
  }

  .aside-three {
    display: block;
  }

  .aside-three p {
    margin: 2%;
    padding: 2%;
  }
}
